<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">Developer Project</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/developers']">Developers </a></li>
        <li routerLinkActive="active"><a [routerLink]="['/add-developer']">Add New Developer</a></li>
      </ul>
    </div>
  </div>
</nav>